@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: white;
    --sec-color: black;
    --primary-font-color: black;
    --sec-font-color: white;
}

html {
    scrollbar-color: var(--bg-color) var(--bg-color);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    position: relative;
    height: 100vh;
}

a:link {
    color: var(--sec-font-color);
}

a:visited {
    color: var(--sec-font-color);
}

a {
    text-decoration: none;
}

nav .navBar {
    width: auto;
    list-style: none;
    padding: 10px 50px;
    background-color: var(--sec-color);
    margin-bottom: 10px;
}

nav .navBar li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;

}

#searchBar {
    padding: 10px;
    margin: auto;
    width: 90vw;
    border: 0;
    font-size: 1em;
    border-radius: 5px;
    background-color: rgb(233, 228, 228);
}

#searchBtn {
    display: none;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(29, 139, 29);
    color: var(--sec-font-color);
    cursor: pointer;
}

.searchCom {
    display: flex;
    gap: 20px;
}

#searchBtn:active {
    background-color: green;
}

.card {
    background-color: rgba(128, 128, 128, 0.253);
    height: 280px;
    width: 175px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    padding: 15px;
}

.card:hover {

    background-color: rgba(128, 128, 128, 0.39);
}

.playBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 75%;
    background-color: var(--bg-color);
    bottom: 80px;
    right: 20px;
}

.card .songCover {
    height: 220px;
    width: 175px;
    border-radius: 10px;
    object-fit: cover;
}

.detail h2 {
    height: 28px;
    font-size: 1.2em;
}

.detail h2,
.detail p {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail {
    color: var(--primary-font-color);
}

.detail p {
    height: 20px;

}

.playBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.playBtn:active {
    background-color: rgb(201, 198, 198);
    transform: scale(0.95);
}

.outer {
    display: flex;
    border-radius: 10px;
    height: 74vh;
}

#musicList {
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 20px;
    overflow: auto;
    flex: 1;
}

.player {
    background-color: var(--sec-color);
    display: flex;
    width: auto;
    padding: 13.5px;
    gap: 10px;
}

.player img {
    padding: 5px;
    border: none;
    background-color: rgb(103, 103, 238);
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

.player img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.player img:active {
    transform: scale(0.98);
}

#loading {
    width: 100px;
    height: 100px;
    border: 5px solid grey;
    border-top: 5px solid white;
    border-radius: 75%;
    animation: spin 1s infinite ease-in-out;
}

#retry,
#homePage {
    padding: 100px 100px;
    background-color: #121212;
    font-size: 3em;
    font-weight: bold;
    color: var(--sec-font-color);
    border-radius: 5px;
    text-align: center;
    animation: heartBeat 2s infinite alternate-reverse;
}

@keyframes heartBeat {
    100% {
        transform: scale(1.05);
    }

    0% {
        transform: scale(0.95);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 455px) {
    nav .navBar {
        flex-direction: column;
        gap: 10px;
    }

    .card .songCover,
    .card {
        width: 210px;
    }

    .searchCom {
        display: flex;
        gap: 20px;
    }

    #musicList {
        padding: 0;
        gap: 25px;
        justify-content: center;
    }

    #retry,
    #homePage {
        padding: 50px 25px;
    }

    .player {
        width: auto;
        border-radius: 0;
        margin: 0;
    }
}